{#<!DOCTYPE html>#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I'm father</title>
    <script src="/static/jquery/jquery-3.2.1.min.js"></script>
    <script src="/static/jquery/jquery.cookie.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/js/bootstrap.min.js">
    <link rel="stylesheet" href="/static/blog/base.css">


</head>
<body>
{#网页导航首条#}
<nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">博客园</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">当前用户{{ request.user }}</a></li>
            <li><a href="">修改密码</a></li>
            <li><a href="/log_out/">注销</a></li>
        </ul>
    </div>
</nav>

{#网页主体部分#}
<div class="container" style="margin-top: 60px">
    <div class="row">
        {#左侧菜单#}
        <div class="col-md-3">

            <ul id="main-nav" class="nav nav-tabs nav-stacked">
                <li class="active">
                    <a href="">
                        <i class="glyphicon glyphicon-home"></i>
                        首页
                    </a>
                </li>
                <li>
                    <a href="" class="nav-header collapsed" data-toggle="collapse">
                        <i class="glyphicon glyphicon-cog "></i>
                        系统管理
                    </a>

                </li>
                <li>
                    <a href="">
                        <i class="glyphicon glyphicon-user"></i>
                        用户管理
                    </a>
                </li>

                <li>
                    <a href="/article/">
                        <i class="glyphicon glyphicon-user"></i>
                        数据库
                    </a>
                </li>

                <li>
                    <a href="">
                        <i class="glyphicon glyphicon-book"></i>
                        编程语言
                    </a>
                </li>

                <li>
                    <a href="">
                        <i class="glyphicon glyphicon-tasks"></i>
                        前端设计
                    </a>
                </li>

                <li>
                    <a href="">
                        <i class="glyphicon glyphicon-fire"></i>
                        操作系统
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="glyphicon glyphicon-heart"></i>
                        收藏我
                    </a>
                </li>




            </ul>

        </div>


        {#右侧菜单#}
        <div class="col-md-9">
             {% block left %}
{#                    这里是挖的坑#}
             {% endblock %}


            {% block page %}
                这里是分页显示
            {% endblock %}

         </div>


    </div>
</div>

</body>
</html>